.MyPage {
    width: 640px;
}

ul {
    border: 1px solid rgb(241, 241, 241);

    padding: 30px;
    background-color: white;
    display: block;
    font-size: 1rem;
    list-style-type: none;
}

.bottom-border {
    border-bottom: 1px solid rgb(221, 221, 211);
}