.background {
    display: flex;
    justify-content: center;
    background-color: #f1f1f2;
    width: 100%;
    height: 100vh;
    min-height: 1200px;

}

h1 {
    padding: 50px 0px 10px 0px;
}

.MyPage {
    width: 640px;
    min-height: 1200px;
}

ul {
    border: 1px solid rgb(241, 241, 241);

    padding: 30px;
    background-color: white;
    display: block;
    font-size: 1rem;
    list-style-type: none;
}

.bottom-border {
    border-bottom: 1px solid rgb(221, 221, 211);
}