body,
html {
    margin: 0px;
    padding: 0px;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    overflow: auto;
    /* 스크롤 기능을 유지합니다 */

}



*::-webkit-scrollbar {
    display: none;
    /* 웹킷 브라우저에서 스크롤바를 숨깁니다 */
}